body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
.main-wrapper {
	display: flex;
	width: 1396px;
	height: auto;
	margin: 0 auto;
}
.main-wrapper .left-column {
	width: 444px;
	min-height: 1392px;
	background-color: #303030;
}
.left-column .menu-section {
	width: 100%;
	height: auto;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	cursor: default;
	display: flex;
	flex-direction: column;
}
.menu-section .section-header {
	margin: 16px 12px;
	width: calc(100% - 32px);
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: rgba(255, 255, 255, 0.9);
}
.left-column .menu-item {
	width: 100%;
	height: 72px;
	display: flex;
	align-items: center;
	color: white;
	/*предусматрвиаем многострочный текст*/
}
.menu-item .item-avatar {
	width: 48px;
	height: 48px;
	margin:0 16px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.6);
}

.menu-item.active {
	background-color: #ffd840;
}

.menu-item.active .item-title {
	font-weight: bold;
	color: #303030 !important;
}

.item-avatar.imaged {
	background: url('assets/images/soccer.jpeg') center no-repeat;
	background-size: cover;
}

.person-avatar.imaged {
	background: url('assets/images/face1.png') center no-repeat !important;
	background-size: cover !important;
}

.person-card.empty .person-avatar {
	position: relative;
	background: rgba(0, 0, 0, 0.05) none;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
	opacity: 0.6;
}
.person-card.empty .person-avatar:hover{
	opacity: 1;
	transition: .5s;
}
.person-card.empty .person-avatar:before {
	content: '';
	position: absolute;
	top:calc(50% - 8px);
	left:calc(50% - 8px);
	width: 16px;
	height: 16px;
	background: url('assets/icons/plus.svg');
	background-size: cover;
}

.menu-item .item-title {
	width: calc(100% - 112px);
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #ffffff;
}

.menu-header {
	position: relative;
	height: 48px;
	height: auto;
    word-wrap: break-word;
	width: 100%;
	color: white;
}

.menu-header .menu-title {
	display:inline-block;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	height: 24px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.5px;
	margin-left: 16px;
	margin-bottom: 3px;
}

.main-wrapper .right-column {
	width: calc(100% - 444px);
	min-height: 1392px;
	position: relative;
	background-image: linear-gradient(45deg, #eeeeee, #fafafa);
}
.right-column .main-content {
	width: calc(100% - 64px);
	height: calc(100% - 96px);
	margin: 32px 32px 64px 32px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
}
.main-content .tab-items-container {
	width: 100%;
	height: 45px;
	display: table;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tab-items-container .tab-item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.9);
	cursor:pointer;
}
.tab-item.active {
	font-weight: bold;
	border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}
.tab-item:hover {
	background: rgba(0, 0, 0, 0.1);
}
.main-content .tab-action-panel {
	width: 100%;
	min-height: 81px;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items:center;
}

.tab-action-panel .order-label {
	position: relative;
	max-width: 50%;
	margin-left: 48px;
	display: block;

	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.9);
	max-width: calc(100% - 120px);
}
.tab-action-panel .switcher-box {
	display: block;
	width: 56px;
	margin: 0 !important;
	padding: 0 !important;
}

.main-content .preview-grid {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 28px;
	margin-bottom: 48px;
	position: relative;
}
.preview-grid .left-grid-column {
	width: 200px;
	margin-left: 16px;
	height: auto;
}
.preview-grid .right-grid-column {
	width: calc(100% - 232px);
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.right-grid-column .person-card {
	width: 148px;
	min-height: 176px;
	height: auto;
	margin-left:16px;
	margin-bottom: 28px;
}
.person-card .person-avatar {
	width: 100%;
	height: 148px;
	background: rgba(0, 0, 0, 0.1) url('assets/images/unknown_face.jpg') no-repeat center;
	background-size:cover;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
.person-card .person-title {
	position: relative;
	width: 100%;
	margin-top: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: center;
	color: rgba(0, 0, 0, 0.9);
}

.icon-menu-expand {
  background: url('assets/icons/menu.svg') no-repeat center;
  width: 18px;
  height: 12px;
  margin-top: 24px;
  margin-left: 16px;
  display: inline-block;
  cursor: pointer;
}

.icon-check {
	background: url('assets/icons/check.svg') no-repeat center;
	background-size: cover;
	width: 16px;
	height: 16px;
	margin-left: 8px;
	display: inline-block;
	border: 1px solid blue;
}

.info-label {
	display: inline-block;
	margin-left: 32px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #26bf8c;
}
.info-label:before {
	display: inline-block;
	content: "";
	background-image: url('assets/icons/check.svg');
	position:absolute;
	left: 24px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-size: cover;
}

.icon-arrow-drop-down {
	background: url('assets/icons/arrow_drop_down.svg') no-repeat center;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
}

.vote-btn {
  width: 128px;
  height: 32px;
  margin: 16px;
  border-radius: 4px;
  outline: none;
  border:none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
/*для планшетов*/
@media screen and (max-width: 800px) and (min-width: 600px) {
	.main-wrapper {
		flex-direction: column;
		width: 100%;
	}
	.left-column {
		min-height: 64px !important;
		width: auto !important;
		display: flex;
		flex-direction: row;
	}
	.left-column .menu-section {
		flex-direction: row;
		align-items: center;
		width: auto !important;
	}
	.menu-section .section-header {
		position:relative;
		width: 100% !important;
		text-align: center;
		font-size: 14px;
	}
	/*показываем только 5 разделов, остальные скрываем*/
	.left-column .menu-section:nth-child(n + 6) {
		display: none;
	}
	/*в каждой секции показываем только заголовки разделов */
	.left-column .menu-section .menu-item:nth-child(n + 2) {
		display: none;
	}
	.left-column .menu-section .section-header:after {
		/*content: "\25bc";
		margin-left: 5px;*/
		position: absolute;
		left: 100%;
		top: 4px;
		background-image: url('assets/icons/arrow_drop_down.svg');
		background-size: 16px 16px;
		cursor: pointer;
		display: inline-block;
		width: 16px;
		height: 16px;
		content:"";
	}
	.menu-header {
		display: flex;
		align-items: center;
	}
	.icon-menu-expand {
		margin-top: 0px;
	}
	.menu-title {
		margin-top: 5px;
	}
	.menu-section .menu-item {
		width: auto;
		height: auto;
		max-width: 120px;
		padding: 10px;
	}
	.menu-item .item-avatar {
		display: none;
	}
	.menu-item .item-title {
		text-align: center;
		width: auto;
	}
	.right-column {
		width: 100% !important;
	}
	.preview-grid .right-grid-column {
		justify-content: space-between;
		position: relative;
	}
	.right-grid-column .person-card {
		position: relative;
		width: 200px;
		min-height: 228px;
	}
	.person-card .person-avatar {
		height: 200px;
		width: 200px;
	}
}
/*совместно для телефонов и планшетов*/
@media screen and (max-width: 800px) {
	.tab-action-panel {
		justify-content: space-between;
	}
	.tab-action-panel .order-label {
		margin-left: 16px;
	}
	.tab-action-panel .switcher-box {
		margin-right: 16px !important;
	}
	.right-grid-column .person-card:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}
/*для телефонов*/
@media screen and (max-width: 600px) {
	.main-wrapper {
		flex-direction: column;
		width: 100%;
	}
	.left-column {
		width: 100% !important;
		min-height: 45px !important;
		height: 64px !important;
	}
	.left-column .menu-section:first-child {
		flex-direction: row;
	}
	.tab-items-container {
		display: flex !important;
		flex-direction: column !important;
		min-height: 45px !important;
		height: auto !important;
	}
	.tab-items-container .tab-item {
		width: 100%;
		padding: 10px 0px;
	}
	.right-column {
		width: 100% !important;
	}
	.right-grid-column .person-card:last-child {
		margin-bottom: 0px;
	}
	.preview-grid {
		flex-direction: column;
	}
	.preview-grid .left-grid-column {
		width: calc(100% - 32px);
		margin-bottom: 16px;
	}
	.preview-grid .right-grid-column {
		width: 100%;
		justify-content: center;
	}
	.right-grid-column .person-card {
		width: 200px;
		min-height: 228px;
	}
	.person-card .person-avatar {
		width: 200px;
		height: 200px;
	}

}
@media screen and (max-width: 750px) and (min-width: 600px) {
	.preview-grid .left-grid-column {
		max-width: 100px;
	}

	.preview-grid .right-grid-column {
		justify-content: space-around;
		width: calc(100% - 132px);
	}

	.right-grid-column .person-card {
		width: 164px;
		min-height: 192px;
	}
	.person-card .person-avatar {
		width: 164px;
		height: 164px;
	}
}